# This file is for environment variables that are not secret and can be committed to git.
# For example, the URL of your backend API.

# The URL of your deployed FastAPI backend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# Supabase public keys
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
